/MainM.java/nbproject/private/
/MainM.java/build/
/Poo/nbproject/private/
/Poo/build/
/Seccion5/nbproject/private/
/Seccion05/nbproject/private/
/JavaApplication7/nbproject/private/
/SECCION005/nbproject/private/
/JavaApplication9/nbproject/private/
/sectionfive/nbproject/private/
/SECTIONFIVE3/nbproject/private/
/SECTIONFIVE3/build/
/POOHERENCIA/nbproject/private/
/JavaFundamentalsClasses.java/nbproject/private/
/FuncionesYmetodosJava/nbproject/private/
/PooHerenciaExercises/nbproject/private/
/JavaFundamentalsClasses.java/build/
/PooHerenciaExercises/build/
/POO_ENCAPSULAMIENTO/nbproject/private/
/POO_ENCAPSULAMIENTO/build/
/POO_HERENCIOA/target/
/Peliculas/nbproject/private/
/PROYECTO CATALOGO DE PELICULAS/nbproject/private/
/PROYECTO_CATALOGO_DE_PELICULAS/nbproject/private/
/PROYECTO_CATALOGO_DE_PELICULAS/build/
/PROYECTO_CATALOGO_DE_PELICULAS/dist/
